# Streamlit và WebRTC
streamlit==1.27.0
streamlit-webrtc==0.67.0

# YOLOv8
ultralytics==8.4.2

# OpenCV headless, tránh lỗi GUI trên Cloud
opencv-python-headless==4.8.1.78

# Xử lý ảnh & vẽ text
pillow==10.0.1
numpy==1.26.4

