streamlit
ultralytics
# 🌟 FIX: Dùng HEADLESS để tránh lỗi libGL.so.1 vĩnh viễn
opencv-python-headless
pillow
av
# 🌟 FIX: Cập nhật lên phiên bản mới nhất để sửa lỗi ModuleNotFoundError
streamlit-webrtc==0.30.0
